.text-xs {
  font-size: 10px;
}
.text-sm {
  font-size: 15px;
}
.text-md {
  font-size: 17px;
}
.text-lg {
  font-size: 23px;
}
.text-xl {
  font-size: 28px;
}
.text-2xl {
  font-size: 33px;
}
.text-3xl {
  font-size: 38px;
}
.text-4xl {
  font-size: 3.55rem;
}
.text-5xl {
  font-size: 2.75rem;
}

