footer {
  height: fit-content;
  width: 100%;
  background-color: var(--dark-cyan-blue);
}

footer .social-contacts i {
  cursor: pointer;
  color: var(--slate);
  font-size: 1.4rem;
  transition: color, transform 0.1s ease-in;
} 

footer .social-contacts i:hover {
  transform: translateY(-5px);
  color: var(--turquoise);
} 

footer .social-contacts::after {
  content: "";
  height: 90px;
  width: 1px;
  margin-top: 10px;
  background-color: var(--slate);
} 

footer .email span {
  transform-origin: center;
  writing-mode: vertical-rl;
}

footer .email::after {
  display: inline-block;
  content: "";
  height: 90px;
  width: 1px;
  margin-top: 10px;
  background-color: var(--slate);
} 

@media(min-width: 769px) {
  footer .social-contacts {
    position: fixed;
  }
}

@media (max-width: 768px) {
  footer .social-contacts {
    position: inherit;
    flex-direction: row;
  }


  footer .email {
    position: inherit;
  }

  footer .email span {
    transform-origin: center;
    writing-mode: horizontal-tb;
  }

  
  footer .social-contacts::after,
  footer .email::after {
    display: none;
  } 
}
