main #intro {
  padding-top: 70px;
  background-color: var(--dark-cyan-blue);
  height: 100vh;
}



/* About me */
main #about-me {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: var(--dark-cyan-blue);
  /* height: 100vh; */
}


main #skills {
  padding-top: 70px;
  background-color: var(--dark-cyan-blue);
  /* height: 100vh; */
}

main #my-projects {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: var(--dark-cyan-blue);
  /* height: 100vh; */
}

.turquoise-border {
  border: #64ffdba8 1px solid;
  /* padding: 1.25rem; */
  border-radius: 5px;
}



@media (min-width: 768px) {
  main #intro .floating-element {
    display: none;
  }
  
  main #intro > div:nth-child(1) {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #intro {
    width: 100%;
    min-height: 100vh;
  }

  main #intro .floating-element {
    display: none;
  }
  
  main #intro > div:nth-child(1) {
    width: 100%;
  }
}