nav {
  position: fixed !important;
  background-color: var(--dark-cyan-blue);
  height: 70px !important;
  width: 100%;
  color: var(--turquoise);
  z-index: 6;
}

@media (max-width: 767px) { 
  nav .navbar-collapse {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: var(--lighter-dark-cyan-blue);
  }
  
  .navbar-collapse.collapsing {
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.582);
  }
  
  .navbar-collapse.collapse.show {
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.582);
  }
}

nav h2 {
  font-family: "Righteous";
  color: white;
}

nav ul li a {
  color: var(--slate);
  font-family: "Ubuntu Mono";
  font-weight: 500;
  font-size: 14px;
  transition: color 0.1s ease-in;
}

nav ul li:hover a {
  color: var(--turquoise) !important;
}

nav ul li:hover a {
  color: var(--turquoise) !important;
}

nav .navbar-toggler {
  border: none;
}

nav .navbar-toggler span{
  font-size: 26px;
  color: var(--turquoise);
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

a[href="#skills"]::before,
a[href="#about-me"]::before,
a[href="#my-projects"]::before {
  color: var(--turquoise);
  padding-right: 8px;
}

ul a[href="#"]::before {
  content: "01.";
  color: var(--turquoise);
}

ul a[href="#about-me"]::before {
  content: "02.";
}

ul a[href="#skills"]::before {
  content: "03.";
}

ul a[href="#my-projects"]::before {
  content: "04.";
}

